@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: #fdfbfc;
    color: #3a3a3a;
}

/* headings and logo */
h1,
h2 {
    font-family: 'Cinzel Decorative', 'Lucida Sans', sans-serif;
    font-weight: 900;
    color: #b99f65;
}

#logo {
    float: left;
    margin-left: 20px;
    padding: 2px;
    font-size: 1.5em;
    line-height: 75px;
}

/* nav links */
nav {
    background-color: #2b2b2b;
}

#menu-icon {
    float: right;
    margin-right: 20px;
    padding: 2px;
    font-size: 1.5em;
    line-height: 75px;
}

header {
    display: block;
    height: 5em;
    padding: 5px 0;
    background-color: #2b2b2b;
}

#nav-menu {
    clear: both;
    display: none;
    position: relative;
    background-color: #2b2b2b;
}

#nav-menu li {
    text-align: center;
    list-style-type: none;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 120%;
    font-weight: bolder;
}

#nav-menu a {
    text-decoration: none;
    color: #b99f65;
}

#nav-menu a:hover {
    color: #fdfbfc;
}

/* Hero Image Slideshow */
.hero-image {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Fading animation taken from w3schools along with script for slideshow.
Used to create fade in effect as hero image changes to next*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

/* media queries (breakpoints chosen in line with bootstrap standards) */
/* for screens above 370px */
@media screen and (min-width: 370px) {

    /* adjust font size of logo as screen size increases */
    #menu-icon,
    #logo {
        font-size: 1.8em;
    }
}

/* for medium to large screens 768px and up */
@media screen and (min-width: 768px) {

    /* nav links */
    #mobile-header-main {
        display: block;
    }

    /* remove menu icon as main navbar takes over */
    #menu-icon {
        display: none;
    }

    #nav-menu {
        clear: none;
        float: right;
        letter-spacing: 1px;
        font-size: 1em;
        font-weight: bolder;
        line-height: 75px;

        /*reverse list direction to display in correct order */
        display: flex;
        flex-direction: row;
    }

    #nav-menu li {
        margin-right: 20px;
        padding: 0;
    }
}

/* for large screens 992px and up */
@media screen and (min-width: 992px) {
    #logo {
        font-size: 2.2em;
    }

    /* resizes hero image to ensure content below appears above the page fold */
    .hero-image {
        width: 70%;
        border: 5px outset #b99f65;
    }
}